html,body{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,input,select,textarea{
	-webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: none;
    background-color: transparent;
}
ul,li{
	list-style: none;
}
ul,li,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
a,a:hover{
	text-decoration: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

body{
	max-width: 750px;
	margin: 0 auto;
}
.page{
	width: 100%;
	height: 100%;
	background: url(../img/bg2.jpg) no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: column;
}
.btn {
	width: 377.6px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: block;
	margin: 0 auto;
}
.wrap{
	flex: 1;
}
.wrap + .rules-wrap{
	flex: 0 150px;
}
/*cake*/
.cake-wrap{
	width: 100%;
	height: 688px;
	position: relative;
	text-align: center;
}
.cake{
	width: 80%;
	height: 688px;
	object-fit: contain;
}
/*start*/
.start-wrap{
	width: 500px;
	position: absolute;
	left: 0;
	right: 0;
	top: 450px;
	margin: auto;
}
.start-wrap .call{
	display: block;
	width: 300px;
	margin: 0 auto 10px;
	font-size: 16px;
	color: #9a1516;
}
.start-wrap .call .call-input{
	width: 150px;
	padding: 10px;
	font-size: 16px;
	color: #666;
	border-bottom: 1px solid #ccc;
	text-align: center;
}
.btn_start{
	background-image: url(../img/btn_start.png);
}
.btn_lottery{
	background-image: url(../img/btn_lottery.png);
}
.btn_blessing{
	background-image: url(../img/btn_blessing.png);
}
.brn_lightup{
	background-image: url(../img/brn_lightup.png);
}
.btn_lighten{
	background-image: url(../img/btn_lighten.png);
}
/*rules*/
.rules-wrap{
	height: 50px;
	margin: 0 auto;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
.rules{
	font-size: 16px;
	color: #a03739;
	text-decoration: underline;
}
.rules + .rules{
	margin-left: 50px;
}
/*blessing*/
.page.bg{
	background: url(../img/bg1.jpg) no-repeat center;
}
.page.bg .wrap{
	padding-top: 100px;
}
.blessing{
	margin: auto;
	width: 80%;
}
.blessing li{
	border-bottom: 2px solid #e5e5e5;
	height: 80px;
}
.blessing li p{
	font-size: 20px;
	color: #353535;
	line-height: 80px;
}
.blessing li .blessing-tel{
	float: left;
}
.blessing li .blessing-text{
	float: right;
}
/*blessing-wrap*/
.blessing-wrap{
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.blessing-wrap .card-wrap{
	width: 406.4px;
	height: 414.4px;
	background-image: url(../img/card.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.card-label{
	font-size: 14px;
	color: #666;
	position: absolute;
	top: 60px;
	left: 60px;
	line-height: 32px;
}
.card-target{
	padding: 5px;
	font-size: 14px;
	color: #666;
}
.card-blessing{
	font-size: 18px;
	color: #666;
	position: absolute;
	top: 100px;
	left: 60px;
	right: 60px;
	padding: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.btn {
		width: 5.03rem;
		height: 1.06rem;
	}
	/*cake*/
	.cake-wrap{
		height: 9.17rem;
	}
	.cake{
		height: 9.17rem;
	}
	/*start*/
	.start-wrap{
		width: 6.66rem;
		top: 6rem;
	}
	.start-wrap .call{
		width: 4rem;
		font-size: 0.21rem;
	}
	.start-wrap .call .call-input{
		width: 2rem;
		padding: 0.13rem;
		font-size: 0.21rem;
	}
	/*rules*/
	.wrap + .rules-wrap{
		flex: 0 2rem;
	}
	.rules-wrap{
		height: 0.66rem;
	}
	.rules{
		font-size: 0.21rem;
	}
	.rules + .rules{
		margin-left: 0.66rem;
	}
	/*blessing*/
	.blessing li{
		height: 1.06rem;
	}
	.blessing li p{
		font-size: 0.26rem;
		line-height: 1.06rem;
	}
	.page.bg .wrap{
		padding-top: 1.33rem;
	}
	.blessing-wrap .card-wrap{
		width: 5.41rem;
		height: 5.52rem;
	}
	.card-label{
		font-size: 0.18rem;
		position: absolute;
		top: 0.8rem;
		left: 0.8rem;
		line-height: 0.42rem;
	}
	.card-target{
		font-size: 0.18rem;
	}
	.card-blessing{
		font-size: 0.24rem;
		position: absolute;
		top: 1.33rem;
		left: 0.8rem;
		right: 0.8rem;
	}
}




